 <!-- currency, gems, seed, tomato, watermelon, potato, pumpkin, corn, carrot, cabbage -->
 <!DOCTYPE html>

 <html lang="en" dir="ltr">
   <head>
     <link rel="stylesheet" href="stylesheets/main.css">
     <script type="text/javascript" src="js/inventory.js" defer></script>
     <meta charset="utf-8">

   </head>

         <body style="margin: 0;">

 <!-- <header id="site-header"> -->
 <!-- </header> -->
         <header id="mainheader">


           <ul>
            <li><a class="active" href="/main">Home</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/chat">Chatroom</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/farmagatchi">Farmagatchi</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul><br>

                 <h2>Inventory</h2>
                 <table style="margin-left: auto; margin-right: auto;">
                   <tr>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th valign="bottom"><img src="images/seed.png" alt="profilePic" style="width:80px;height:160px;padding-left:10px"></th>
                     <th valign="bottom"><img src="images/cornn.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                     <th valign="bottom"><img src="images/tomatodude.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                     <th valign="bottom"><img src="images/evilpumpkin.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                     <th valign="bottom"><img src="images/potato.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                     <th valign="bottom"><img src="images/cabby.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                     <th valign="bottom"><img src="images/carrosaur.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                     <th valign="bottom"><img src="images/watermelony.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                   </tr>
                 <!-- <table> -->
                   <tr>
                     <th>Username</th>
                     <th>Coins</th>
                     <th>Gems</th>
                     <th>Seeds</th>
                     <th>Tomato</th>
                     <th>Potato</th>
                     <th>Pumpkin</th>
                     <th>Corn</th>
                     <th>Cabbage</th>
                     <th>Carrot</th>
                     <th>Watermelon</th>
                   </tr>

                   <% rows.forEach((user_name) => { %>
                   <tr>
                     <td><%= user_name.username %></td>
                     <td><%= user_name.coin %></td>
                     <td><%= user_name.gem %></td>
                     <td id="td1"><%= user_name.seed %></td>
                     <td id="td2"><%= user_name.tomato %></td>
                     <td id="td3"><%= user_name.potato %></td>
                     <td id="td4"><%= user_name.pumpkin %></td>
                     <td id="td5"><%= user_name.corn %></td>
                     <td id="td6"><%= user_name.cabbage %></td>
                     <td id="td7"><%= user_name.carrot %></td>
                     <td id="td8"><%= user_name.watermelon %></td>
                   </tr>
                   <% }); %>

                    <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                     <form action = "/sell" method = "post">
                     <td><input name = "seeds" class="numberField" id="stock1" type="number" min="0" value="0" ></input></td>
                     <td><input name = "tomato" class="numberField" id="stock2" type="number" min="0" value="0" ></input></td>
                     <td><input name = "potato" class="numberField" id="stock3" type="number" min="0" value="0" ></input></td>
                     <td><input name = "pumpkin" class="numberField" id="stock4" type="number" min="0" value="0"  ></input></td>
                     <td><input name = "corn" class="numberField" id="stock5" type="number" min="0" value="0"  ></input></td>
                     <td><input name = "cabbage" class="numberField" id="stock6" type="number" min="0" value="0"  ></input></td>
                     <td><input name = "carrot" class="numberField" id="stock7" type="number" min="0" value="0"  ></input></td>
                     <td><input name = "watermelon" class="numberField" id="stock8" type="number" min="0" value="0" ></input></td>
                   </tr>
                   </table>
                   <p align="center">(Each Item Sells For 3 Coins)</p>
                   <button style="float:right; width:60px; height:25px; margin-right:40px;" type = "submit" ide = "sell_button" value = "Submit" onclick="sellItem(); this.onclick=null;">Sell</button>
                    </form>
             </header>

             <!-- <script>
             function DateFunction(){
               var curr_date = new Date();
               document.getElementById("date").innerHTML = curr_date;
             }
             function sellItem(){

             }
             </script>
             <script>
               document.getElementById("stock1").max = user_name.seed;
               document.getElementById("stock2").max = user_name.tomato;
               document.getElementById("stock3").max = user_name.potato;
               document.getElementById("stock4").max = user_name.pumpkin;
               document.getElementById("stock5").max = user_name.corn;
               document.getElementById("stock6").max = user_name.cabbage;
               document.getElementById("stock7").max = user_name.carrot;
               document.getElementById("stock8").max = user_name.watermelon;
             </script>

             <script>
             setInterval(DateFunction, 1000);
             </script> -->


           <footer id="site-footer">
           </footer>

         </body>
       </html>
