 <!-- currency, gems, seed, tomato, watermelon, potato, pumpkin, corn, carrot, cabbage -->
 <!DOCTYPE html>

 <html lang="en" dir="ltr">
   <head>
     <link rel="stylesheet" href="stylesheets/main.css">
     <script type="text/javascript" src="js/login.js"></script>
     <meta charset="utf-8">

   </head>

         <body style="margin: 0;">

 <!-- <header id="site-header"> -->
 <!-- </header> -->
         <header id="mainheader">


           <ul>
            <li><a class="active" href="/main">Home</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/chat">Chatroom</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul><br>

                 <h2>Inventory</h2>

                 <table>
                   <tr>
                     <th>Username</th>
                     <th>Coins</th>
                     <th>Gems</th>
                     <th>Seeds</th>
                     <th>Tomato</th>
                     <th>Potato</th>
                     <th>Pumpkin</th>
                     <th>Corn</th>
                     <th>Cabbage</th>
                     <th>Carrot</th>
                     <th>Watermelon</th>
                   </tr>

                   <% rows.forEach((user_name) => { %>
                   <tr>
                     <td><%= user_name.username %></td>
                     <td><%= user_name.coin %></td>
                     <td><%= user_name.gem %></td>
                     <td><%= user_name.seed %></td>
                     <td><%= user_name.tomato %></td>
                     <td><%= user_name.potato %></td>
                     <td><%= user_name.pumpkin %></td>
                     <td><%= user_name.corn %></td>
                     <td><%= user_name.cabbage %></td>
                     <td><%= user_name.carrot %></td>
                     <td><%= user_name.watermelon %></td>
                   </tr>
                   <% }); %>

                    <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td><input class="numberField" id="stock1" type="number" min="0" value="0" ></input></td>
                     <td><input class="numberField" id="stock2" type="number" min="0" value="0" ></input></td>
                     <td><input class="numberField" id="stock3" type="number" min="0" value="0" ></input></td>
                     <td><input class="numberField" id="stock4" type="number" min="0" value="0"  ></input></td>
                     <td><input class="numberField" id="stock5" type="number" min="0" value="0"  ></input></td>
                     <td><input class="numberField" id="stock6" type="number" min="0" value="0"  ></input></td>
                     <td><input class="numberField" id="stock7" type="number" min="0" value="0"  ></input></td>
                     <td><input class="numberField" id="stock8" type="number" min="0" value="0" ></input></td>
                   </tr>
                   </table>
                   <button style="float:right; width:60px; height:25px; margin-right:40px;" onclick="sellItem()">Sell</button>
             </header>

             <script>
             function DateFunction(){
               var curr_date = new Date();
               document.getElementById("date").innerHTML = curr_date;
             }
               document.getElementById("stock1").max = user_name.seed;
               document.getElementById("stock2").max = user_name.tomato;
               document.getElementById("stock3").max = user_name.potato;
               document.getElementById("stock4").max = user_name.pumpkin;
               document.getElementById("stock5").max = user_name.corn;
               document.getElementById("stock6").max = user_name.cabbage;
               document.getElementById("stock7").max = user_name.carrot;
               document.getElementById("stock8").max = user_name.watermelon;
             function sellItem(){

             }
             </script>

             <script>
             setInterval(DateFunction, 1000);
             </script>


           <footer id="site-footer">
           </footer>

         </body>
       </html>
